<modal-dialog modal-settings="modalSettings" show='modalShown'></modal-dialog>
<div id="exspensesList" class="row" >
    <center><h2>Витрати</h2></center>
    <div class="col-md-8 col-md-offset-2">
        <table  id="expensesList" class="table table-hover table-bordered">
            <tr>
                <th></th>
                <th><center>Назва</center></th>
                <th><center>Дата створення</center></th>
                <th colspan="2"><center>Витрати</center></th>
            </tr>
            <tr class="success" ng-repeat-start="(date,monthPurchases)  in purchases">
                <td colspan="4" align="center"><b>{{date}}</b></td>
                <td><b>{{monthExpense(date)}} грн</b></td>
            </tr>
            <tr class="purchases" ng-repeat-end ng-repeat="p in monthPurchases|filter:search" ng-click="redirectTo(p.id)">
                <td>{{$index + 1}}</td>
                <td>{{p.name}}</td>
                <td>{{p.date}}</td>
                <td>{{p.expense}} грн</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4" align="right"><b> Загалом:</b></td>
                <td><b>{{totalPrice}} грн</b></td>
            </tr>
        </table>
    </div>
</div>
